---
sidebar_position: 3
title: Signature verification
---

> This documentation is useful for both **webhook receivers** and
**webhook senders**!

See [Keys](/docs/resources/keys).

